<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{padding:0 10px;}
    </style>
</head>
<body>


    <ul>
        {% for p in page %}
            <li>{{ p.atitle }}</li>
        {% endfor %}
    </ul>
    <hr>

    <p style="text-align: center; font-size:20px">

    {% if page.has_previous %}
         <a href="/pagelist{{ page.number|add:-1 }}">上一页</a>
    {% endif %}

    {% for pindex in page.paginator.page_range %}
        {% if pindex == page.number %}
            <a>{{ pindex }}</a>
        {% else %}
            <a href="/pagelist{{ pindex }}">{{ pindex }}</a>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
         <a href="/pagelist{{ page.number|add:1 }}">下一页</a>
    {% endif %}
    </p>
</body>
</html>